@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='password']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rdrDefinedRangesWrapper {
  display: none;
}

.btn {
  @apply normal-case;
}

.btn-ghost {
  @apply hover:bg-stone-200;
}

.input {
  @apply focus:border hover:border focus:border-primary hover:border-primary;
}

.select {
  @apply focus:border hover:border focus:border-primary hover:border-primary focus:outline-none focus:ring-0;
}

.checkbox {
  @apply focus:border focus:border-primary focus:ring-primary;
}
